body{
    font-family:"Italic";
    color:rgb(232, 232, 236);
    
}
body {
  background-color: black;
}
    

h1{
   color:red;
}
h2{
            color: red;
           
            
        }

img/Forme_hybride_de_Ragnir.webp {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
